<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>コース一覧</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'list.css' %}">
    </head>

    <body>
        <div id="container">
            {% include 'header.html' %}
            <div id="contents">
                {% for course in object_list %}
                <div class="box">
                    <div class="pict"><img src="{% static 'images/mock1.png' %}"></div>
                    <div class="text">
                        <h3>{{ course.course_name }}</h3>
                        <p>{{ course.description }}</p>
                    </div>
                    <div class="btn">
                        <button onclick="location.href='{% url 'salon:reservation' id=course.id %}'" type="button" class="btn-layout">予約</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>